body {
    font-family: Arial, sans-serif;
    background-color: rgb(84, 83, 83);
    margin: 100px;
    padding: 20px;
}

.container {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    background-color: rgb(246, 185, 185);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.grid-container {
    background-color: rgb(246, 185, 185);
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 10px;
}

.label {
    display: flex;
    align-items: center;
}

input[type="number"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

.hidden {
    display: none;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
}

th {
    background-color: #ad5d5d;
    text-align: left;
}
